.phil{
    font-size: 16px;
    text-transform: uppercase;
    color: #ea5267;
}
.phil1{font-size: 25px;
    line-height: 30px;

}
.phil2{
    font-size: 16px;
    color: #5b5b5b;
    margin-top: 20px;
}